.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

h1 {
  color: red;
}


.Likebar {
  fill: #0033AE;
}

.Dislikebar {
  fill: #AE3300;
}

.datatext {
  font-size:7px;
  fill: #772211
}
